<form action="http://localhost:8080" method="post">
    <div class="mb-3">
        <label for="nombre" class="form-label">nombre</label>
        <input type="text" class="form-control" id="newProduct_form" aria-describedby="nombre">
        <div id="nombre" class"form-text" nombre </div>
    </div>
    <div class="mb-3">
        <label for="precio" class="form-label">precio</label>
        <input type="text" class="form-control" id="newProduct_form" aria-describedby="precio">
        <div id="precio" class"form-text" precio </div>
    </div>
    <div class="mb-3">
        <label for="thumbnail" class="form-label">Foto URL</label>
        <input type="text" class="form-control" id="newProduct_form" aria-describedby="thumbnail">
        <div id="thumbnail" class"form-text" thumbnail </div>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>