 <h3 class="toplaner", style="color:blue">Lista de productos</h3>

 {{#if mostrar}}
 <ul style="color:darkslateblue">
   <h3 class="midlaner">Nombre &nbsp;Precio</h3>
   {{#each Products}}
   <li class="midlaner"> {{this.nombre}} &nbsp;{{this.precio}} </li>
   {{/each}}
   
 </ul>
 {{else}}
 <h2 class="err"> PERMISO DENEGADO </h2>
 {{/if}}
